name: Build docker image

on:
  workflow_dispatch:
  push:
    branches:
      - "fork/**"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: downcase REPO
        run: |
          echo "REPOSITORY=${GITHUB_REPOSITORY,,}" >> ${GITHUB_ENV}
      - name: Build amd64
        uses: docker/build-push-action@v5
        with:
          file: Dockerfile
          platforms: linux/amd64
          tags: ghcr.io/${{ env.REPOSITORY }}:latest
          build-args: MASTODON_VERSION=v4.2.10
          push: true
